@import url("../vendor/normalize.css");
@import url("../fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/fill/fill.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__title/header__title.css");
@import url("../blocks/header/__links-container/header__links-container.css");
@import url("../blocks/header/__line-links/ header__line-links.css");
@import url("../blocks/header/__line-link/header__line-link.css");
@import url("../blocks/header/__line-link/_active/header__line-link_active.css");
@import url("../blocks/header/__link/header__link.css");

@import url("../blocks/cover/cover.css");
@import url("../blocks/cover/__title/cover__title.css");
@import url("../blocks/cover/__subtitle/cover__subtitle.css");
@import url("../blocks/cover/__link/cover__link.css");

@import url("../blocks/about/about.css");

@import url("../blocks/section/__title/section__title.css");
@import url("../blocks/section/__subtitle/section__subtitle.css");
@import url("../blocks/section/__text/section__text.css");

@import url("../blocks/skills/skills.css");
@import url("../blocks/skills/__container/skills__container.css");
@import url("../blocks/skills/__photo/skills__photo.css");
@import url("../blocks/skills/__column/_type/_text/skills__column_type_text.css");
@import url("../blocks/skills/__column/_type/_progress/skills__column_type_progress.css");
@import url("../blocks/skills/__row/skills__row.css");
@import url("../blocks/skills/__title/skills__title.css");
@import url("../blocks/skills/__subtitle/skills__subtitle.css");
@import url("../blocks/skills/__progress-bar/skills__progress-bar.css");
@import url("../blocks/skills/__progress-bar/_fill/skills__progress-bar_fill.css");